doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/users") Usuarios
        li
          a(href="/contacto") Contacto
    block content
